# coding: utf-8

DEBUG = True
DEBUG_TEMPLATE = DEBUG

if DEBUG:
    # Simplifies the development process in DEBUG mode

    TEMPLATE_LOADERS = (
        'django.template.loaders.filesystem.Loader',
        'django.template.loaders.app_directories.Loader',
    )
